<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Recipe</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">logout</a>
    <form action="/process_edit" method="post">
        {% with messages = get_flashed_messages(category_filter =["recipe"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <input type="hidden" name="id" value="{{recipe.id}}">
        <label for="">Name</label>
        <input type="text" name = "name" value="{{recipe.name}}">
        <label for="">Description</label>
        <input type="text" name="description" value="{{recipe.description}}">
        <label for="">Instructions</label>
        <input type="text" name = "instruction" value="{{recipe.instruction}}">
        <label for=""> Date Made On:</label>
        <input type="date" name = "date_made" value="{{recipe.date_made}}"> 
        <label for="">Under 30 mintues?</label>
        <input type="radio" id="1" name="under_30" value="1">
        <label for="1">1</label><br>
        <input type="radio" id="0" name="under_30" value="0">
        <label for="2">0</label><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>